<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.hoten}}" placeholder="ten" name="ten">
            <label for="floatingInput">HoTên</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.ngaysinh}}" placeholder="ngaysinh" name="ngaysinh">
            <label for="floatingInput">Ngay sinh</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.lop}}" placeholder="lop" name="lop">
            <label for="floatingInput">lớp</label>
        </div>
    </div>
     <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.giotinh}}" placeholder="gioitinh" name="gioitinh">
            <label for="floatingInput">Giới tính</label>
        </div>
    </div>
     <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.mochoc}}" placeholder="monhoc" name="monhoc">
            <label for="floatingInput">Môn hoc</label>
        </div>
    </div>

<br/>
    <div class="row">
    
    <div class="col-6 d-grid">
          <button class="btn btn-primary" type="submit">Thêm</button>
        
    </div>  
        <div class="col-6 d-grid">
  
         <a href="http://localhost:1080" type="button" class="btn btn-success btn-small">Quay về</a>
    </div>
      

    </div>